.App {
  border-radius: 4px;
  box-shadow: #ccc 5px 5px 5px;
  width: 400px;
  height: 400px;
}

form {
  padding-top: 40px;
  padding-bottom: 10px;
}
.search-form-input {
  font-size: 23px;
}
ul {
  font-size: 23px;
}
